# Copy this file to .env.local and fill in your Supabase credentials
NEXT_PUBLIC_SUPABASE_URL=https://hxipnqqcgccfbhbuorhu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh4aXBucXFjZ2NjZmJoYnVvcmh1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYwMzQ2MDgsImV4cCI6MjA3MTYxMDYwOH0.5G8SJ8FOGf8qgGJB3UxUXjYVAS17sMGn8kKVFm1RIwo 